<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FE_PlanetGlowSpike_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,643},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{254,254}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>FE_PlanetGlow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,386},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>IntroAln_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,1},{145,153}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{145,153}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>IntroBG_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{512,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,64},{512,384}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>IntroP1Shad_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,873},{128,125}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,125}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>IntroP1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{446,460}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,15},{446,460}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>IntroP2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,643},{250,229}}</string>
                <key>offset</key>
                <string>{-3,-13.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{250,229}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>IntroP2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,386},{222,196}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,107},{222,196}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>IntroSentinel_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,847},{384,105}}</string>
                <key>offset</key>
                <string>{0,11.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,105}}</string>
                <key>sourceSize</key>
                <string>{384,128}</string>
            </dict>
            <key>Intro_Whiteout_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,451},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,8}}</string>
                <key>sourceSize</key>
                <string>{8,8}</string>
            </dict>
            <key>Origin8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,847},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{116,64}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>Xenon_BG_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1},{384,384}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,384}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>Xenon_Glow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,386},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Intro.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba379a1d91541711d9bed4b378242304:1/1$</string>
            <key>textureFileName</key>
            <string>Intro.png</string>
        </dict>
    </dict>
</plist>
