<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BarOnE_199.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1081},{48,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>BarOnM_198.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,985},{48,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>BarOnS_197.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1167},{48,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,92}}</string>
                <key>sourceSize</key>
                <string>{48,96}</string>
            </dict>
            <key>Btn_SelectorSel_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,547},{182,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,150}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>Btn_Selector_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,393},{182,150}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{182,150}}</string>
                <key>sourceSize</key>
                <string>{192,160}</string>
            </dict>
            <key>Btn_SingleSel_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{1097,701},{144,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{144,144}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Btn_Single_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,137},{148,148}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{148,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>CS_MShip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1257},{76,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>DialogArrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,387},{42,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{42,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>DirectionArrow_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,503},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>EOW_Bonus_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,899},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>EOW_Reward_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,273},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>EOW_Score_185.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,205},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>FE_LoadingCirc_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,991},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>FE_LoadingPlanet_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>FE_Origin8_180.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,387},{464,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,32},{464,256}}</string>
                <key>sourceSize</key>
                <string>{512,320}</string>
            </dict>
            <key>FE_S4Glow_183.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,205},{510,178}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{510,178}}</string>
                <key>sourceSize</key>
                <string>{512,192}</string>
            </dict>
            <key>FE_S4_182.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,197},{552,138}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{552,138}}</string>
                <key>sourceSize</key>
                <string>{554,208}</string>
            </dict>
            <key>FE_StarFront_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,887},{66,114}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{66,114}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>FE_TitleBar_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1103},{94,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>FX_IconBadge_177.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,849},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Failure_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,647},{392,392}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,37},{392,392}}</string>
                <key>sourceSize</key>
                <string>{464,464}</string>
            </dict>
            <key>FrameBtn_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,1},{640,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,192}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>FrameInfoArea_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1921,289},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>FrameInfoArea_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1175},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{92,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>FrameInfoBox_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,599},{288,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,288}}</string>
                <key>sourceSize</key>
                <string>{288,288}</string>
            </dict>
            <key>FrameInfoTip_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,985},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>FramePanel1Block_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,339},{448,384}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,384}}</string>
                <key>sourceSize</key>
                <string>{480,384}</string>
            </dict>
            <key>FramePanel2Block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,749},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>FramePanelShadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,985},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>FrameTabArea_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,647},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>FullBeam_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,645},{256,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,32}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>Icn_CreditsSml_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,849},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{56,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Icn_FragmentBig_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,819},{68,64}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{68,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Icn_FragmentSml_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,681},{222,64}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{222,64}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>Icn_Global_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,429},{40,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{40,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Locked_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,1},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,30},{132,132}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>MaxLock_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,1177},{48,62}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{48,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Overlay_Elec_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,341},{242,26}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{242,26}}</string>
                <key>sourceSize</key>
                <string>{256,32}</string>
            </dict>
            <key>Selector_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1063},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>Selector_127.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,371},{224,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,224}}</string>
                <key>sourceSize</key>
                <string>{224,224}</string>
            </dict>
            <key>Slider_Mid_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,137},{576,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,64},{576,64}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Slider_Over_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,1},{612,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{612,132}}</string>
                <key>sourceSize</key>
                <string>{640,192}</string>
            </dict>
            <key>Tab_FragCredits_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,985},{116,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{116,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Tab_FragXP_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,945},{116,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{116,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>Tab_Fragments_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,981},{122,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,21},{122,114}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>UICommon_Cancel_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,1257},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{80,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UICommon_Credit1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,727},{372,254}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,82},{372,254}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>UICommon_Credit3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,645},{378,250}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,86},{378,250}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>UICommon_Enemy01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,967},{62,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{62,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1085},{96,86}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{96,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy03_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,723},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{68,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,1045},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,197},{82,96}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{82,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy06_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1239},{88,78}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{88,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy07_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,1293},{74,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{74,86}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy08_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1179},{88,96}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy09_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,909},{52,90}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,6},{52,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy10_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1091},{96,94}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy11_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1171},{96,82}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy12_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,1005},{66,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{66,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy13_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,297},{82,92}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{82,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy14_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1145},{94,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{94,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy15_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,1271},{74,96}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{74,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy16_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1085},{96,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{96,82}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy17_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,1201},{90,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{90,88}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy18_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,945},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy19_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1099},{96,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy20_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,1067},{58,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{58,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy21_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1003},{66,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,1},{66,94}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Fragment3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,899},{306,298}}</string>
                <key>offset</key>
                <string>{-39,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{306,298}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>UICommon_OK_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,727},{104,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,64},{104,64}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UICommon_Shop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,795},{102,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{102,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlayA_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,289},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,18},{28,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlayFC_175.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,475},{40,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,27},{40,24}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlay_174.png</key>
            <dict>
                <key>frame</key>
                <string>{{2003,289},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{42,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>UIFrontend_Btn_Options_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,1189},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{94,94}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>UIInG_BackFlas_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1749,891},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>UI_CircBar_Block_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1755,549},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>UI_CircBar_GrnOff_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1869,289},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UI_CircBar_GrnOn_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,891},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICommon@2x~ipad.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3000f35d7042f51caa7b9b6c52dd0caa:1/1$</string>
            <key>textureFileName</key>
            <string>UICommon@2x~ipad.png</string>
        </dict>
    </dict>
</plist>
