<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BarOnE_199.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,403},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>BarOnM_198.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,377},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>BarOnS_197.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,216},{12,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,24}}</string>
                <key>sourceSize</key>
                <string>{12,24}</string>
            </dict>
            <key>Btn_SelectorSel_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,410},{46,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,38}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>Btn_Selector_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,344},{46,39}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,39}}</string>
                <key>sourceSize</key>
                <string>{48,40}</string>
            </dict>
            <key>Btn_SingleSel_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,436},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{36,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Btn_Single_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,435},{38,39}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,39}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>CS_MShip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,435},{38,39}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,39}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>DialogArrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,481},{22,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>DirectionArrow_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,476},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>EOW_Bonus_184.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,378},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>EOW_Reward_186.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,344},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>EOW_Score_185.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,147},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>FE_LoadingCirc_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,476},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>FE_LoadingPlanet_151.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,160}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>FE_Origin8_180.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,132},{116,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{116,64}}</string>
                <key>sourceSize</key>
                <string>{128,80}</string>
            </dict>
            <key>FE_S4Glow_183.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,100},{128,45}}</string>
                <key>offset</key>
                <string>{0,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{128,45}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>FE_S4_182.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{139,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{139,36}}</string>
                <key>sourceSize</key>
                <string>{139,52}</string>
            </dict>
            <key>FE_StarFront_114.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,68},{33,58}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{33,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>FE_TitleBar_125.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,487},{24,23}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>FX_IconBadge_177.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Failure_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,197}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{197,197}}</string>
                <key>sourceSize</key>
                <string>{232,232}</string>
            </dict>
            <key>FrameBtn_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{160,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,48}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>FrameInfoArea_93.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,481},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>FrameInfoArea_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,483},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>FrameInfoBox_121.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,278},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>FrameInfoTip_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,455},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>FramePanel1Block_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{112,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>FramePanel2Block_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,247},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>FramePanelShadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,246},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>FrameTabArea_116.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,449},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>FullBeam_181.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,147},{128,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,16}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>Icn_CreditsSml_115.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,347},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{28,28}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Icn_FragmentBig_96.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,274},{17,16}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{17,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>Icn_FragmentSml_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,256},{56,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{56,16}}</string>
                <key>sourceSize</key>
                <string>{60,20}</string>
            </dict>
            <key>Icn_Global_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,455},{20,21}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,21}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Locked_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,413},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>MaxLock_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,445},{25,31}}</string>
                <key>offset</key>
                <string>{-0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{25,31}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Overlay_Elec_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,165},{122,14}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{122,14}}</string>
                <key>sourceSize</key>
                <string>{128,16}</string>
            </dict>
            <key>Selector_126.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,198},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Selector_127.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,352},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Slider_Mid_143.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{144,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,16},{144,16}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>Slider_Over_144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{154,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,7},{154,34}}</string>
                <key>sourceSize</key>
                <string>{160,48}</string>
            </dict>
            <key>Tab_FragCredits_118.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,341},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Tab_FragXP_119.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,68},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>Tab_Fragments_117.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,412},{32,31}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,31}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UICommon_Cancel_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,474},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Credit1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,181},{94,64}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,20},{94,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Credit3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,181},{95,63}}</string>
                <key>offset</key>
                <string>{0.5,-4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,21},{95,63}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_Enemy01_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,402},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{32,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy02_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,450},{48,43}}</string>
                <key>offset</key>
                <string>{0,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{48,43}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy03_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,386},{35,47}}</string>
                <key>offset</key>
                <string>{-0.5,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{35,47}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy04_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,246},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy05_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,278},{41,48}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{41,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy06_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,344},{45,40}}</string>
                <key>offset</key>
                <string>{0.5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{45,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy07_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,435},{37,44}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{37,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy08_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,452},{44,48}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy09_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,128},{27,45}}</string>
                <key>offset</key>
                <string>{-0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{27,45}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy10_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,247},{48,47}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy11_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,296},{48,41}}</string>
                <key>offset</key>
                <string>{0,-0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{48,41}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy12_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,386},{33,48}}</string>
                <key>offset</key>
                <string>{-1.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{33,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy13_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,385},{41,46}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{41,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy14_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,296},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy15_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,385},{38,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{38,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy16_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,297},{48,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{48,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy17_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,339},{45,44}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{45,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy18_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,352},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy19_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,296},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy20_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,297},{29,48}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{29,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Enemy21_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,433},{34,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{34,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Fragment3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,201},{77,75}}</string>
                <key>offset</key>
                <string>{-9.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{77,75}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UICommon_OK_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,478},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{26,16}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UICommon_Shop_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,483},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlayA_176.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,100},{14,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{14,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlayFC_175.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,128},{20,13}}</string>
                <key>offset</key>
                <string>{0,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{20,13}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UIFrontend_Btn_EveryPlay_174.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,328},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{22,22}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UIFrontend_Btn_Options_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,429},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>UIInG_BackFlas_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UI_CircBar_Block_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,198},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>UI_CircBar_GrnOff_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,403},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>UI_CircBar_GrnOn_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,377},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UICommon.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e41335a710e3d3c984f6bb03c25df7f1:1/1$</string>
            <key>textureFileName</key>
            <string>UICommon.png</string>
        </dict>
    </dict>
</plist>
