<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Armageddon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{250,177}}</string>
                <key>offset</key>
                <string>{2,39.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{250,177}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Artemis_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,302},{174,169}}</string>
                <key>offset</key>
                <string>{0,23.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,20},{174,169}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>Artemis_Base_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,251},{179,227}}</string>
                <key>offset</key>
                <string>{-2.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,17},{179,227}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>GunNormal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,82},{44,78}}</string>
                <key>offset</key>
                <string>{-89,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,105},{44,78}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>GunTriple_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1},{46,80}}</string>
                <key>offset</key>
                <string>{-89,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,105},{46,80}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroArmour_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,179},{163,52}}</string>
                <key>offset</key>
                <string>{5.5,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,17},{163,52}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroJetJump_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,472},{80,38}}</string>
                <key>offset</key>
                <string>{-8,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,137},{80,38}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroRage_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1},{205,249}}</string>
                <key>offset</key>
                <string>{-2.5,-2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{205,249}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroSniper_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,367},{128,116}}</string>
                <key>offset</key>
                <string>{-63,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{128,116}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroStomp_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,251},{132,115}}</string>
                <key>offset</key>
                <string>{-50,-70.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,141},{132,115}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>HeroSwords_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,179},{68,122}}</string>
                <key>offset</key>
                <string>{41,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,41},{68,122}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIFE_Hero1.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0790de97ac81a3cb719957cf18b0c1e4:1/1$</string>
            <key>textureFileName</key>
            <string>UIFE_Hero1.png</string>
        </dict>
    </dict>
</plist>
