<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_DamageInc_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,276},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Buff_RangeInc_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,382},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>Buff_SlowReload_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,360},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>DirectionArrow_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,242},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>HealthBlast_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UIAlien_Reticle_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,458},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UIHero_Armageddon_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,126},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Armor_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Ingest_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,126},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Invulnerability_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{34,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{34,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Jump_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,74},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_PlasmaRain_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,194},{36,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{36,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Rage_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,276},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{28,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Shield_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,302},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Stomp_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,240},{40,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{40,34}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIHero_Teleport_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,74},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Buy_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,168},{26,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_CantPlace_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,302},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_EnemyWikiOn_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,234},{26,38}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{26,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_EnemyWiki_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,300},{20,30}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{20,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Forward2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,260},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{40,18}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Forward3_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,240},{40,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{40,18}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Forward_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,108},{34,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{34,18}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_HeroOn_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,402},{26,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{26,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Hero_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,200},{24,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{24,28}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_LeftInsetFrame_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,128},{40,38}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_OptionsSel_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,356},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Options_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,330},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_PauseSel_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,192},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Pause_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,192},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Place_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,302},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>UIInG_PlaySel_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,96},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Play_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,146},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_RestartSel_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,218},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Restart_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,194},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{22,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_RightInsetFrame_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,194},{40,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{40,38}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ShortcutDrones_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,0},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{44,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ShortcutFrame_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,414},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{42,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_StrongholdOn_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,256},{32,30}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{32,30}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_Stronghold_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,40},{34,32}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{34,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ToggleShortsDown_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,304},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ToggleShortsIn_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,304},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ToggleShortsUp_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,168},{26,24}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{26,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_ToggleShorts_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,230},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{24,24}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_TowerDamage_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,168},{64,30}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,30}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
            <key>UIInG_TowerXP_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,350},{28,36}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{28,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_WeaponsToggleB_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,98},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIInG_WeaponsToggle_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,50},{46,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIIng_RepairUpg_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,200},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{32,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIIng_Repair_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,332},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{26,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIIng_Sweep_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{234,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{234,234}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>UISHold_AttackDrone_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,84},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_BuyGen_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,42},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_DroneHarvest_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,336},{20,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{20,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_DroneRepairS_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,340},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{26,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_DroneRepairT_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,302},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{26,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_EnergyDrone_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_FreezeWave_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,84},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_Nuke_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,126},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{36,36}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_RepairDrone_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,42},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UISHold_Repair_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{40,40}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_Charger_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,414},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_IONBomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,144},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_Missiles_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,144},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_Orbital_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,302},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_Repair_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,96},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UIShip_Reticule_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,458},{54,48}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{54,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>UIShip_Slow_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,48},{48,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_AntiAir_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,0},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Artillery_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,464},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Beam_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,364},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,46},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Booster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,452},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Colossus_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,0},{48,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_DefDroid_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,414},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Flamer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,364},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Gloop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,402},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Laser_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,352},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,458},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Mines_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,458},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Sell_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,378},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{24,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Slow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,464},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_SmallRadar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,458},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Sniper_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,464},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_UpgradeMarker1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,280},{30,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,15},{30,18}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_UpgradeMarker2_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,274},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{30,26}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_UpgradeMarker3_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,234},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,8},{30,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_UpgradeNormal_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,268},{28,32}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_Upgrade_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,268},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{28,32}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>UITower_UpgradedMax1_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,378},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{24,22}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Victory_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,236},{216,220}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{216,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIInGame.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86a1987224ab50b26cf4fc1d5fb483f6:1/1$</string>
            <key>textureFileName</key>
            <string>UIInGame.png</string>
        </dict>
    </dict>
</plist>
