<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Buff_DamageInc_154.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2002},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Buff_RangeInc_152.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,1996},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>Buff_SlowReload_153.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2002},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{46,46}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>DirectionArrow_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2002},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{38,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>FrameInfoTip_97.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,304},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>HealthBlast_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1624,166},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIAlien_Reticle_95.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,98},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{106,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIHero_Armageddon_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1562},{72,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{72,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Armor_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1558},{66,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{66,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Ingest_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,420},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Invulnerability_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,1558},{66,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{66,74}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Jump_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1304},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{68,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_PlasmaRain_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,512},{72,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{72,80}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Rage_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1996},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{54,52}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Shield_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1304},{56,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,17},{56,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Stomp_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,1558},{80,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,13},{80,68}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIHero_Teleport_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1304},{68,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{68,64}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIInG_BackScreen_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1378},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>UIInG_Buy_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,0},{102,92}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,45},{102,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_CantPlace_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,342},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{90,90}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIInG_EnemyWikiOn_88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,1902},{88,134}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,28},{88,134}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_EnemyWiki_87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,484},{76,120}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,36},{76,120}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Forward2_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1304},{156,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,62},{156,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Forward3_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1304},{156,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,62},{156,68}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Forward_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1558},{130,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,64},{130,66}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_HeroOn_90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1752,248},{92,110}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{92,110}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Hero_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,294},{88,106}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,44},{88,106}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_LeftInsetFrame_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,166},{156,148}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,22},{156,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_OptionsSel_85.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,416},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{94,94}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Options_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,388},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{94,94}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_PauseSel_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1638,0},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Pause_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,0},{164,164}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Place_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,270},{122,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{122,122}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>UIInG_PlaySel_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,1870},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Play_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,1704},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_RepFrame_84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1538},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_RestartSel_86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,328},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{80,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Restart_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,248},{80,78}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{80,78}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_RightInsetFrame_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,120},{156,148}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{156,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ShortcutDrones_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1364},{172,172}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{172,172}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ShortcutFrame_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1538},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_StrongholdOn_89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,0},{128,118}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{128,118}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_Stronghold_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,290},{134,124}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{134,124}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ToggleShortsDown_104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,290},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{96,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ToggleShortsIn_103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,192},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{96,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ToggleShortsUp_102.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,206},{96,96}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,48},{96,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_ToggleShorts_101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1194,94},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,48},{96,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_TowerDamage_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,1304},{128,58}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,58}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>UIInG_TowerXP_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1562},{56,72}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{56,72}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIInG_WeaponsToggleB_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,1736},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIInG_WeaponsToggle_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1736},{164,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{164,164}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIIng_RepairUpg_156.png</key>
            <dict>
                <key>frame</key>
                <string>{{1804,120},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,33},{126,126}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIIng_Repair_155.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1996},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,23},{50,50}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIIng_Sweep_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{934,934}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{934,934}}</string>
                <key>sourceSize</key>
                <string>{960,960}</string>
            </dict>
            <key>UISHold_AttackDrone_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,0},{146,160}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{146,160}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UISHold_BuyGen_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,162},{142,126}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,42},{142,126}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UISHold_DroneHarvest_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,1304},{38,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,17},{38,62}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UISHold_DroneRepairS_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1562},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{52,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UISHold_DroneRepairT_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,1562},{52,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{52,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UISHold_EnergyDrone_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,0},{170,118}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,44},{170,118}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UISHold_FreezeWave_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,420},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UISHold_Nuke_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1562},{72,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,13},{72,70}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UISHold_RepairDrone_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1902},{130,146}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,36},{130,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UISHold_Repair_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,394},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{78,78}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UIShip_Charger_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1374},{192,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_IONBomb_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,1120},{192,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_Missiles_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,936},{192,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_Orbital_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1636},{192,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{192,192}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_Repair_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1818},{192,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_Reticule_94.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,0},{108,96}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,26},{108,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>UIShip_Slow_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,1634},{192,182}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UIShip_TimeWarp_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,402},{96,92}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{96,92}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>UITower_AntiAir_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1552},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Artillery_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1636},{182,186}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{182,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Beam_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,1368},{182,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1120},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Booster_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,936},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Colossus_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1830},{192,186}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{192,186}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_DefDroid_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1818},{188,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{188,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Flamer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1374},{188,182}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{188,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Gloop_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1628},{186,182}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{186,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Laser_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1120},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Line_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1378},{192,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Mines_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1824},{192,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{192,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Sell_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1928,256},{92,84}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,51},{92,84}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Slow_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,936},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_SmallRadar_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1634},{188,182}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{188,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Sniper_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1812},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{182,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_UpgradeMarker1_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1558},{120,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,57},{120,74}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_UpgradeMarker2_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,316},{120,102}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,43},{120,102}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_UpgradeMarker3_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1902},{120,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,31},{120,130}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_UpgradeNormal_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,128},{112,126}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,31},{112,126}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_Upgrade_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,0},{112,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{112,126}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>UITower_UpgradedMax1_98.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,496},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,50},{94,92}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>Victory_150.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,936},{430,440}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,41},{430,440}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIInGame@2x~ipad.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c91a92599ab3a233b8e50d5101c16db:1/1$</string>
            <key>textureFileName</key>
            <string>UIInGame@2x~ipad.png</string>
        </dict>
    </dict>
</plist>
