<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlanetShadow_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,187},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,373},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,280},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,187},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,373},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,280},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,187},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,280},{84,82}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,270},{84,82}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,187},{84,82}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,187},{84,82}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,11},{84,82}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,373},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,280},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,187},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,94},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>PlanetShadow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{84,92}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,92}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIPlanetS.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d9b5785baefcbc8acc154e172c1f093b:1/1$</string>
            <key>textureFileName</key>
            <string>UIPlanetS.png</string>
        </dict>
    </dict>
</plist>
